html,
body {
  height: 100%;
}

input {
  margin-top: 10px;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  flex-direction: column;
}